body {
    margin: 0;
    background-image: url("object_files/bg.jpg");
    background-size: cover;
    color: white;
    font-family: monospace;
}

#output {
    z-index: 0;
    width: 100vw;
    height: 120vh;
    display: block;
}

hr {
    width: 80%;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderContainer {
    display: block;
    z-index: 1;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50vh;
    top: 10%;
    left: 5%;
}

.invisible {
    display: none !important;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.lightdirslider,
.scaleslider,
.speedslider {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}


.credits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}